.formLabel {
  font-size: 14px;
  font-weight: 400;
}

.projectsContainer {
  background-color: white;
}

.form {
  background-color: white;
  height: 504px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* .text-nav {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 7px;
  margin-bottom: auto;
  display: inline-block;
} */
.btn {
  border: none;
}

.arrow {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 2px;
  right: 16.67%;
  top: 50px;
  bottom: 17.59%;
}
.edit-project {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 90px;
  top: 44px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.85);
}
.back-text {
  position: absolute;
  width: 30px;
  height: 22px;
  left: 34px;
  top: 39px;

  /* @font-size-sm: 12px */

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}
