.card-project-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  background-color: #f0f2f5;
}
.nav-text {
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.project-card {
  width: 100%;
  min-height: 5.3rem;
  max-height: 5.3rem;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 2px;
  /* stroke / bottom */
  /*   border-bottom: 1px solid black; */

  /*   box-shadow: inset 0px -1px 0px #d9d9d9; */
}

.project-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* @text-color */

  color: rgba(0, 0, 0, 0.65);
}
.project-datestamp {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
.project-hourstamp {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  margin-left: 4rem;
  margin-top: -2rem;
}

.menu-icon {
  position: absolute;
  margin-left: 92%;
  margin-top: -1.4rem;
}

.menu-icon:hover:active {
  cursor: pointer;
}
.add-project-button {
  width: 98px;
  height: 32px;
  margin-bottom: 26px;
}

.user-pic {
  height: 24px;
  border-radius: 50%;
  margin-top: -5.5rem;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-left: 2rem;
}
.project-data {
  margin-left: 0.7rem;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
}
.delete-text:hover {
  cursor: pointer;
}
ul li {
  list-style: none;
}

.link {
  text-decoration: none;
}
.trash-icon {
  height: 13.333333969116211px;
  margin-right: 1rem;
}
.edit-icon {
  height: 13.333333969116211px;
  margin-right: 1rem;
}

.menu-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-left: -1.5rem;
  color: black;
}
.menu-options {
  width: 181px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 34%;
  margin-top: -0.5rem;
  background-color: white;
  z-index: 2;
}
.line-menu {
  width: 120%;
  height: 2px;
  color: #707070;
  margin-left: -2rem;
}

.edit-text {
  position: absolute;
  width: 34px;
  height: 20px;
  left: 44px;
  top: 8px;

  /* Regular / 12px | 20 px */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;

  /* Grey / grey-9 */

  color: #262626;
}
.delete-text {
  position: absolute;
  width: 34px;
  height: 20px;
  left: 44px;
  top: 47px;

  /* Regular / 12px | 20 px */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;

  /* Grey / grey-9 */

  color: #262626;
}

@media (min-width: 700px) {
  .full-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-name {
    font-size: 22px;
    margin-top: 0.5rem;
  }
  .name {
    font-size: 18px;
  }
  .menu-options {
    margin-left: 43.5rem;
  }
}
